In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Master_v2.csv")

In [5]:
df[df.College == "Williams"]

,Unnamed: 0,College,Year,Last,First,Middle,Department,Position,Title,Tenured,Visiting,Leave,Education,Entire.Line,ga_first_name,ga_gender,ga_accuracy,ga_samples
0,1,Williams,2018,a. lindo,haydee,m.,['math'],assistant prof.,assistant professor of mathematics,N,0,n,"2008, b.a., williams college, 2012, m.s., univ...",NaN,Haydee,female,97.0,762.0
1,2,Williams,2019,a. lindo,haydee,m.,['math'],assistant prof.,assistant professor of mathematics,N,0,y,"2008, b.a., williams college, 2012, m.s., univ...",NaN,Haydee,female,97.0,762.0
2,3,Williams,2020,a. lindo,haydee,m.,['math'],assistant prof.,assistant professor of mathematics,N,0,y,"2008, b.a., williams college, 2012, m.s., univ...",NaN,Haydee,female,97.0,762.0
13,14,Williams,2007,aalberts,daniel,p.,['physics'],associate prof.,associate professor of physics,Y,0,n,b.s. (1989) m.i.t.; ph.d. (1994) m.i.t.,NaN,Daniel,male,99.0,257742.0
14,15,Williams,2008,aalberts,daniel,p.,['physics'],associate prof.,associate professor of physics,Y,0,y,b.s. (1989) m.i.t.; ph.d. (1994) m.i.t.,NaN,Daniel,male,99.0,257742.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22734,22735,Williams,2011,zottoli,steven,j.,['biology'],professor,howard b. schow 50 and nan w. schow professor...,Y,0,s,b.a. (1969) bowdoin; ph.d. (1976) university o...,NaN,Steven,male,99.0,59951.0
22735,22736,Williams,2012,zottoli,steven,j.,['biology'],professor,howard b. schow ’50 and nan w. schow professor...,Y,0,n,b.a. (1969) bowdoin; ph.d. (1976) university o...,NaN,Steven,male,99.0,59951.0
22736,22737,Williams,2013,zottoli,steven,j.,['biology'],professor,howard b. schow ’50 professor of biology,Y,0,n,"1969, ba, bowdoin college, 1972, ms, universit...",NaN,Steven,male,99.0,59951.0
22737,22738,Williams,2019,zug,charles,u.,['leadership studies'],assistant prof.,visiting assistant professor of leadership stu...,N,1,n,"2015, b.a., st. john's college, 2017, m.a., un...",NaN,Charles,male,98.0,52754.0
22738,22739,Williams,2020,zug,charles,u.,['leadership studies'],assistant prof.,visiting assistant professor of leadership stu...,N,1,n,"2015, b.a., st. john's college, 2017, m.a., un...",NaN,Charles,male,98.0,52754.0

In [6]:
df[df.ga_gender == "female"].count()

Unnamed: 0       9664
College          9664
Year             9664
Last             9660
First            9660
Middle           5404
Department       9664
Position         9479
Title            9477
Tenured          9664
Visiting         9664
Leave            3623
Education        9155
Entire.Line       966
ga_first_name    9664
ga_gender        9664
ga_accuracy      9664
ga_samples       9664
dtype: int64

In [7]:
df[df.ga_gender == "male"].count()

Unnamed: 0       12845
College          12845
Year             12845
Last             12845
First            12845
Middle            8048
Department       12843
Position         12597
Title            12594
Tenured          12845
Visiting         12845
Leave             4863
Education        12108
Entire.Line       1114
ga_first_name    12845
ga_gender        12845
ga_accuracy      12845
ga_samples       12845
dtype: int64

Unnamed: 0
College
Year
Last
First
Middle
Department
Position
Title
Tenured
Visiting
Leave
Education
Entire.Line
ga_first_name
ga_gender
ga_accuracy
ga_samples